{% extends 'base.html' %}

{% block contenido_cambia %}
    {#Buscar producto#}
    <br><hr>
    <form action="{% url 'AppCoderBuscarBien' %}">
        <b>BUSCAR PRODUCTO:</b><br>
        <br>{{ form_busqueda.as_p }}
    <input type="submit" value="Buscar">   
    </form>

    <hr><br>
    <a href="{% url 'AppCoderCrearBien' %}">Creacion del producto</a>

    {#Ver productos#}
    <hr><br>
    {% if bienes  %}
    {% for bien in bienes  %}
        <p>Titulo: {{bien.titulo}}, Subtitulo: {{bien.subtitulo}} </p>
        
        <a href="{% url "AppCoderEliminarBien" bien.titulo %}">Eliminar</a>
        <a href="{% url "AppCoderEditarBien" bien.titulo %}">Editar</a>
        <p><hr>
    {% endfor %}
    {% else %}
        No hay bienes cargados por el momento
    
    {% endif %}
        
{% endblock  %}