{% extends 'base.html' %}

{% block contenido_cambia %}
    <form action= "{% url 'AppCoderBienes'%}" method= "post"> 
        <b>AGREGAR PRODUCTO:</b>
        <br>{% csrf_token %}</br>
        {{ form.as_p }}
    <input type="submit" value="Crear">
    </form>
    <br><hr>
    <form action="{% url 'AppCoderBuscarBien' %}">
        <b>BUSCAR PRODUCTO:</b><br>
        <br>{{ form_busqueda.as_p }}
    <input type="submit" value="Buscar">   
    </form>
    <hr><br>
    {% if bienes  %}
    {% for bien in bienes  %}
        Nombre: {{bien.nombre}} 
        <p>Caracteristica: {{bien.caracteristica}} </p>
        
    {% endfor %}
    {% else %}
        No hay bienes cargados por el momento
    
    {% endif %}
        
{% endblock  %}