{% extends 'base.html' %}

{% block contenido_cambia %}
    <form action= "{% url 'AppCoderComentarios'%}" method= "post"> 
        <b>Comentarios:</b>
        <br>{% csrf_token %}</br>
        {{ form.as_p }}
        <input type="submit" value="Agregar">
    </form>
    {% if comentarios  %}
    {% for comentario in comentarios  %}
        Comentario: {{comentario.comentario}} 
        <p>Usuario: {{comentario.usuario}} </p>
        
    {% endfor %}
    {% else %}
        No se realizaron compras
    
    {% endif %}
        
{% endblock  %}