{% extends 'base.html' %}

{% block contenido_cambia %}
<form action= "{% url "AppCoderDetalleBien" titulo %}" method= "post" enctype="multipart/form-data"> 
    <br>{% csrf_token %}</br>
   <b> Titulo: </b>{{bien.titulo}}<br><b>Subtitulo: </b>{{bien.subtitulo}}<br><b>Descripcion:</b> {{bien.descripcion}}<br><b>Imagen:</b><br> 
{% if bien.imagen %}
    <p><img src="{{bien.imagen.url}}" alt=""></p>
{% endif %}
<b>Comentarios:</b>{{bien.comentario}}<br>
<input type="submit" value="Comentar">

</form>


{% endblock %}
