{% extends 'base.html' %}

{% block contenido_cambia %}
    <form action= "{% url 'AppCoderVentas'%}" method= "post">
        <b>AGREGAR PRODUCTO PARA VENDER:</b>
        <br>{% csrf_token %}</br>
        {{ form.as_p }}
        <input type="submit" value="Agregar">
    </form>
    {% if ventas  %}
    {% for venta in ventas  %}
        Producto: {{venta.producto}} 
        <p>Precio: {{venta.precio}} </p>
        
    {% endfor %}
    {% else %}
        No se realizaron ventas
    
    {% endif %}
        
{% endblock  %}